:root{
    --main-color: #00669F;
    --secondary-color: #1CD1B0;
    --text-color: #00669F;
}


*{
    box-sizing:border-box;
    margin: 0px;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}
.inter{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
}
.karla{
    font-family: 'Karla', sans-serif;
}


aside{
    background-color: var(--secondary-color);
    padding: 4px 10px;
}

.header{
   background-color: var(--main-color);
   color:white;
   position:relative;
}
header img{
    width: 60px;
    height: 42px;
    position:relative;
    top: 8px;
    left: 5px;
}
header nav{
    background-color: #001D2D;
    text-align: right;
    padding:12px
}
header nav a{
    color:white;
    margin:7px;
}
h1{
    display:inline-block;
    padding:20px 15px;
    font-size: 28px;
    font-weight: 400;
}

section.form-control{
    /*margin: 20% 30% 50% 30%;
    width:70%;
    height: 50%;
    background-color:turquoise;
*/
margin:auto;
margin-top: 8%;
width:400px;
height: 100%;
margin-bottom: 8%;
}



section h2{
    margin:14px;
    font-weight: 700;
}

section.form-control input{
    width: 99%;
    margin: 5px;
    padding: 8px;
}
section .form-select{
    width: 99%;
    margin: 5px;
    padding: 8px;
}
form{
    margin:auto;
}

::placeholder{
    color:black;
}
textarea{
   width:99%;
   padding:28px; 
   margin:5px;
}

.boton{
    color: black;
    text-align: center;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.reset{
    width: 47% !important;
    font-size: 17px;
    margin-left: 5px !important;
    color:white;
    background-color: #888;
}
.size-min{
    margin-right: 0 !important;
    font-size: 17px;
    margin-left: 10px !important;
    width: 47% !important;
}
section span{
    color: var(--main-color);
}

section p{
    margin-bottom: 20px;
    text-align: center;
}

a{
    text-decoration:none;
    color:black;
}
a.button-link{
    color:white;
}
.card-body {
    text-align: center;
    height: 100%;
    padding: 25px;
}

p {
    text-align: left;
}


/* Botón de ver más */

.more-button {
    background-color: #00669f;
    padding: 15px;
    width: 100px;
    border-radius: 5%;
    color: white;
    margin: auto;
    cursor: pointer;
}


/* Características comúnes de las cartas */

.profile-batman {
    background-image: url(../img/batman.jpg);
    background-position: right 750px bottom 5px;
}

/*Nueva ruta*/ 
.background-batman {
    background-image: url(../img/bg-batman.jpg);
}

.profile-wonderwoman {
    background-image: url(../img/p-harley.png);
}

.background-wonderwoman {
    background-image: url(../img/bg-harley.png);
}

.profile-superman {
    background-image: url(../img/superman.jpg);
    background-position: left -40px bottom 5px;
}

.background-superman {
    background-image: url(../img/bg-superman.jpg);
}

.hero-cards {
    width: 90%;
    margin:auto;
    margin-bottom: 100px;
}

.card {
    position: relative;
    margin-top: 100px;
    background-color: #F3F3F3;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    display:inline-block;
    margin-right:3%;
    width: 30%;
    box-shadow: 0px 4px 4px 0px #00000040;

}


/*Estilos del corazón*/

.fa-heart {
    position: absolute;
    color: #CC2424;
    font-size: 250%;
    left: 20px;
    top: 20px;
}

.fa-plus-circle {
    color: #00669f;
    position: fixed;
    font-size: 50px;
    right: 30px;
    bottom: 100px;
    z-index:2001;
}
.fa-plus-circle:hover{
    color:#001D2D;
}


/* Características comúnes de los header */

.card-header {
    position: relative;
    height: 400px;
    background-size: cover;
    border-radius: 20%;
}


/* Portada de batman */

.hero-background {
    height: 320px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}


/* Características comúnes de foto de perfíl */

.profile-hero {
    background-size: cover;
    position: absolute;
    bottom: -20px;
    left: 21%;
    width: 210px;
    height: 210px;
    border-radius: 50%;
}

.info-card-title{
    font-size: 2.5rem;
    margin-left: 5px;
}
.bg-main{
    background-image: url(../img/bg-xl-harley.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding:10%;
}
.info-card-heroe .card{
    display:block;
    margin: 10% auto;
    width:55%;
}
.info-card-heroe .info-card-text{
    padding:35px;
}
.info-card-heroe .info-card-text .fa-heart{
    left:37px;
    top:67px;
}
.info-card-heroe .info-card-text .profile-wonderwoman{
    bottom:0;
    left:31%;
    top:-118px;

}
.info-card-heroe .info-card-text .info-card-body-title{
    text-align: center;
    margin-top:14%;
}
.info-card-heroe .info-card-img{
    margin:auto;
    width: 248px;
}
.info-card-heroe .info-card-img img{
    margin:10px;
}
section.info-card-heroe p{
    text-align: justify;
}
.info-card-heroe .go-home{
    width:100%;
    text-align:center;
    margin:auto;
    position:absolute;
    left:0px;
    bottom:-54px;
    height: 75px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    line-height: 4;
    font-size: 1.2rem;
    background-color: #2C0187;
}

.form-group{
    background-color:#00669F;
    width: 60%;
    color:white;
    height:90vh;
    margin: 10% auto;
    padding:1px 0px;
    font-size:16px;
    border-radius: 20px;
}
.form-group p, .form-group label{
    font-family: 'Karla';
    color: rgba(255,255,255,.8);
}
.form-group h2{
    font-size: 2.1rem;
    text-align: center;
}
.form-group form{
    position:relative;
}
.form-group .form-group-col{
    width: 35%;
    position:absolute;
}
.form-group .form-group-col:nth-child(1){
    left:10%;
}
.form-group .form-group-col:nth-child(even){
    right:10%;
}
.form-group select, .form-group .block-title, .form-group input[type="text"], .form-group textarea, .form-group input[type="date"]{
    display:block;
    width: 100%;
    margin:14px 0px;
    border-radius: 5px;
    border:none;
    padding:10px 0px;
}
.form-group #poderes{
    margin-top:26px;
}
.form-group label.block-title{
    margin: 0px 0px;
}
.form-group textarea{
    margin-top:24px;
    height: 225px;
    padding:10px;
}
.form-group input[type="file"]{
    display:none;
}
.form-group input[type="radio"],.form-group input[type="checkbox"]{
    margin: 6px 0px;
}
.form-group label[for="imagen"]{
    font-size: 13px;
    color: #000;
    background-color: #CECECE;
    cursor: pointer;
    padding: 10px !important;
    text-align: center;
    border-radius: 5px;
}
.form-group .text-file{
    font-size:12px;
    color:black;
    padding-left: 17px;
    font-family: 'Karla';
}
.form-group textarea::placeholder{
    color:rgba(0,0,0,.5);
    font-family: 'Karla';
    font-size: 15px;
}
.form-group .miboton{
    position: absolute;
    bottom:-71vh;
    right:30%;
    background-color: #1cd1b0;
    color:black;
    font-family: 'Inter';
    border-radius:10px;
    border:none;
    padding:3% 14%;
    font-size:25px;
    cursor:pointer;
}
.form-group .miboton:hover{
    background-color: #001D2D;
    color:white;
}
footer{
    color:white;
    padding: 16px;
    background-color: var(--main-color);
    font-size: 17px;
    margin-bottom: 0px;
}
footer p{
    text-align:center;
}
